<ion-header [translucent]="true">
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>{{ folder }}</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
    <ion-header collapse="condense">
        <ion-toolbar>
            <ion-title size="large">{{ folder }}</ion-title>
        </ion-toolbar>
    </ion-header>
    <form class="panel--merchant">
        <div class="panel--header">
            <h3>Add Merchant </h3>
            <div class="panel--actions">
                <button type="submit" class="panel--button">
                    Save Draft
                </button>
                <div class="panel--button button--primary">
                    Register
                </div>
            </div>
        </div>
        <ion-grid>
            <ion-row>
                <ion-col>
                    <ion-item>
                        <ion-input type="text" name="merchant_name" placeholder="Merchant Name"></ion-input>
                    </ion-item>
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col>
                    <ion-list>
                        <ion-label>Business Category 1</ion-label>
                        <ion-item>
                            <ion-select>
                                <ion-select-option value="jewelry_watches">Jewelry And Watches</ion-select-option>
                            </ion-select>
                        </ion-item>
                    </ion-list>
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col>
                    <ion-list>
                        <ion-label>
                            Business Category 2
                        </ion-label>
                        <ion-item>
                            <ion-label>Gender</ion-label>
                            <ion-select placeholder="Select One">
                                <ion-select-option value="f">Female</ion-select-option>
                                <ion-select-option value="m">Male</ion-select-option>
                                <ion-select-option value="blonde">Blonde</ion-select-option>
                                <ion-select-option value="black">Black</ion-select-option>
                                <ion-select-option value="red">Red</ion-select-option>
                            </ion-select>
                        </ion-item>
                        <ion-label>
                            + Add More Business Category
                        </ion-label>
                    </ion-list>
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col>
                    <ion-label>
                        Email
                    </ion-label>
                    <ion-item>
                        <ion-input type="text" name="email" placeholder="ex. email@example.com"></ion-input>
                    </ion-item>
                </ion-col>
                <ion-col>
                    <ion-label>
                        Mobile Number
                    </ion-label>
                    <ion-item>
                        <ion-input type="text" name="phone_number" placeholder="ex. 9231231231"></ion-input>
                    </ion-item>
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col>
                    <ion-label>
                        Business License Number
                    </ion-label>
                    <ion-item>
                        <ion-input type="text" name="email" placeholder="ex. 1234567890123"></ion-input>
                    </ion-item>
                </ion-col>
            </ion-row>
        </ion-grid>
    </form>
</ion-content>
