


ion-menu-button {
  color: var(--ion-color-primary);
}

.panel--merchant {
  margin-top: 10rem;

  .panel--header {
    display: flex;
    flex-direction: column;
    align-items: center;

    h3 {
      margin-bottom: 2rem;
    }
  }

  .panel--form-inner{
    .item-native{
      border: 1px solid var(--ion-color-secondary);
    }
  }

  .panel--actions {
    display: flex;
    align-items: center;

    .panel--button {
      width: 150px;
      height: 40px;
      margin-right: 10px;
      line-height: 40px;
      text-align: center;
      border-radius: .2rem;
      border: 1px solid;
    }

    .button--primary {
      background-color: var(--ion-color-primary);
      color: var(--ion-color-primary-contrast);
    }
  }

}


@media all and (min-width: 1200px) {

  .panel--merchant {
    .panel--header {
      flex-direction: row;
      justify-content: space-between;

      h3 {
        margin: 0;
      }
    }

  }


  .panel--form-inner {
    padding-right: 18%;
  }
}


ion-content ion-toolbar {
  --background: transparent;
}
